PorticoProd.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="FISERV.IS.PAS.EHPRMR.Runtime.WebService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="FISERV.IS.PAS.EHPRMR.Runtime.WebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="FISERV.IS.PAS.EHPRMR.Runtime.WebService">
      <s:element name="Event_2001">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXMLString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Event_2001Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Event_2001Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Event_2002">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXMLString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Event_2002Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Event_2002Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Event_2003">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXMLString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Event_2003Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Event_2003Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Event_2004">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXMLString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Event_2004Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Event_2004Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Event_2005">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXMLString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Event_2005Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Event_2005Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Event_2006">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXMLString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Event_2006Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Event_2006Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Event_2100">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXMLString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Event_2100Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Event_2100Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ping">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Signoff">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignoffResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SignoffResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Signon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SignonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSGetInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSSetInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSSetInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSSetInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Event_2001SoapIn">
    <wsdl:part name="parameters" element="tns:Event_2001" />
  </wsdl:message>
  <wsdl:message name="Event_2001SoapOut">
    <wsdl:part name="parameters" element="tns:Event_2001Response" />
  </wsdl:message>
  <wsdl:message name="Event_2002SoapIn">
    <wsdl:part name="parameters" element="tns:Event_2002" />
  </wsdl:message>
  <wsdl:message name="Event_2002SoapOut">
    <wsdl:part name="parameters" element="tns:Event_2002Response" />
  </wsdl:message>
  <wsdl:message name="Event_2003SoapIn">
    <wsdl:part name="parameters" element="tns:Event_2003" />
  </wsdl:message>
  <wsdl:message name="Event_2003SoapOut">
    <wsdl:part name="parameters" element="tns:Event_2003Response" />
  </wsdl:message>
  <wsdl:message name="Event_2004SoapIn">
    <wsdl:part name="parameters" element="tns:Event_2004" />
  </wsdl:message>
  <wsdl:message name="Event_2004SoapOut">
    <wsdl:part name="parameters" element="tns:Event_2004Response" />
  </wsdl:message>
  <wsdl:message name="Event_2005SoapIn">
    <wsdl:part name="parameters" element="tns:Event_2005" />
  </wsdl:message>
  <wsdl:message name="Event_2005SoapOut">
    <wsdl:part name="parameters" element="tns:Event_2005Response" />
  </wsdl:message>
  <wsdl:message name="Event_2006SoapIn">
    <wsdl:part name="parameters" element="tns:Event_2006" />
  </wsdl:message>
  <wsdl:message name="Event_2006SoapOut">
    <wsdl:part name="parameters" element="tns:Event_2006Response" />
  </wsdl:message>
  <wsdl:message name="Event_2100SoapIn">
    <wsdl:part name="parameters" element="tns:Event_2100" />
  </wsdl:message>
  <wsdl:message name="Event_2100SoapOut">
    <wsdl:part name="parameters" element="tns:Event_2100Response" />
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="SignoffSoapIn">
    <wsdl:part name="parameters" element="tns:Signoff" />
  </wsdl:message>
  <wsdl:message name="SignoffSoapOut">
    <wsdl:part name="parameters" element="tns:SignoffResponse" />
  </wsdl:message>
  <wsdl:message name="SignonSoapIn">
    <wsdl:part name="parameters" element="tns:Signon" />
  </wsdl:message>
  <wsdl:message name="SignonSoapOut">
    <wsdl:part name="parameters" element="tns:SignonResponse" />
  </wsdl:message>
  <wsdl:message name="WSGetInfoSoapIn">
    <wsdl:part name="parameters" element="tns:WSGetInfo" />
  </wsdl:message>
  <wsdl:message name="WSGetInfoSoapOut">
    <wsdl:part name="parameters" element="tns:WSGetInfoResponse" />
  </wsdl:message>
  <wsdl:message name="WSSetInfoSoapIn">
    <wsdl:part name="parameters" element="tns:WSSetInfo" />
  </wsdl:message>
  <wsdl:message name="WSSetInfoSoapOut">
    <wsdl:part name="parameters" element="tns:WSSetInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="EHPRMRSoap">
    <wsdl:operation name="Event_2001">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Event_2001 - NMO.</wsdl:documentation>
      <wsdl:input message="tns:Event_2001SoapIn" />
      <wsdl:output message="tns:Event_2001SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Event_2002">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Event_2002 - Book Loan.</wsdl:documentation>
      <wsdl:input message="tns:Event_2002SoapIn" />
      <wsdl:output message="tns:Event_2002SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Event_2003">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Event_2003 - Get Member.</wsdl:documentation>
      <wsdl:input message="tns:Event_2003SoapIn" />
      <wsdl:output message="tns:Event_2003SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Event_2004">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Event_2004 - Loan Add-on.</wsdl:documentation>
      <wsdl:input message="tns:Event_2004SoapIn" />
      <wsdl:output message="tns:Event_2004SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Event_2005">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Event_2005 - New Member Origination Direct.</wsdl:documentation>
      <wsdl:input message="tns:Event_2005SoapIn" />
      <wsdl:output message="tns:Event_2005SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Event_2006">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Event_2006 - Retrieve CU Custom Fields.</wsdl:documentation>
      <wsdl:input message="tns:Event_2006SoapIn" />
      <wsdl:output message="tns:Event_2006SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Event_2100">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Event_2100 - Premier Transaction Execute.</wsdl:documentation>
      <wsdl:input message="tns:Event_2100SoapIn" />
      <wsdl:output message="tns:Event_2100SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ping - System Ping</wsdl:documentation>
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Signoff">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Signoff - Signs Client off the System</wsdl:documentation>
      <wsdl:input message="tns:SignoffSoapIn" />
      <wsdl:output message="tns:SignoffSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Signon">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Signon - Signs Client onto System</wsdl:documentation>
      <wsdl:input message="tns:SignonSoapIn" />
      <wsdl:output message="tns:SignonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WSGetInfo - Get Web Service Info</wsdl:documentation>
      <wsdl:input message="tns:WSGetInfoSoapIn" />
      <wsdl:output message="tns:WSGetInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSSetInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WSSetInfo - Set Web Service Info</wsdl:documentation>
      <wsdl:input message="tns:WSSetInfoSoapIn" />
      <wsdl:output message="tns:WSSetInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EHPRMRSoap" type="tns:EHPRMRSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Event_2001">
      <soap:operation soapAction="FISERV.IS.PAS.EHPRMR.Runtime.WebService/Event_2001" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Event_2002">
      <soap:operation soapAction="FISERV.IS.PAS.EHPRMR.Runtime.WebService/Event_2002" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Event_2003">
      <soap:operation soapAction="FISERV.IS.PAS.EHPRMR.Runtime.WebService/Event_2003" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Event_2004">
      <soap:operation soapAction="FISERV.IS.PAS.EHPRMR.Runtime.WebService/Event_2004" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Event_2005">
      <soap:operation soapAction="FISERV.IS.PAS.EHPRMR.Runtime.WebService/Event_2005" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Event_2006">
      <soap:operation soapAction="FISERV.IS.PAS.EHPRMR.Runtime.WebService/Event_2006" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Event_2100">
      <soap:operation soapAction="FISERV.IS.PAS.EHPRMR.Runtime.WebService/Event_2100" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="FISERV.IS.PAS.EHPRMR.Runtime.WebService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Signoff">
      <soap:operation soapAction="FISERV.IS.PAS.EHPRMR.Runtime.WebService/Signoff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Signon">
      <soap:operation soapAction="FISERV.IS.PAS.EHPRMR.Runtime.WebService/Signon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetInfo">
      <soap:operation soapAction="FISERV.IS.PAS.EHPRMR.Runtime.WebService/WSGetInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSSetInfo">
      <soap:operation soapAction="FISERV.IS.PAS.EHPRMR.Runtime.WebService/WSSetInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EHPRMRSoap12" type="tns:EHPRMRSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Event_2001">
      <soap12:operation soapAction="FISERV.IS.PAS.EHPRMR.Runtime.WebService/Event_2001" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Event_2002">
      <soap12:operation soapAction="FISERV.IS.PAS.EHPRMR.Runtime.WebService/Event_2002" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Event_2003">
      <soap12:operation soapAction="FISERV.IS.PAS.EHPRMR.Runtime.WebService/Event_2003" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Event_2004">
      <soap12:operation soapAction="FISERV.IS.PAS.EHPRMR.Runtime.WebService/Event_2004" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Event_2005">
      <soap12:operation soapAction="FISERV.IS.PAS.EHPRMR.Runtime.WebService/Event_2005" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Event_2006">
      <soap12:operation soapAction="FISERV.IS.PAS.EHPRMR.Runtime.WebService/Event_2006" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Event_2100">
      <soap12:operation soapAction="FISERV.IS.PAS.EHPRMR.Runtime.WebService/Event_2100" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="FISERV.IS.PAS.EHPRMR.Runtime.WebService/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Signoff">
      <soap12:operation soapAction="FISERV.IS.PAS.EHPRMR.Runtime.WebService/Signoff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Signon">
      <soap12:operation soapAction="FISERV.IS.PAS.EHPRMR.Runtime.WebService/Signon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetInfo">
      <soap12:operation soapAction="FISERV.IS.PAS.EHPRMR.Runtime.WebService/WSGetInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSSetInfo">
      <soap12:operation soapAction="FISERV.IS.PAS.EHPRMR.Runtime.WebService/WSSetInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EHPRMR">
    <wsdl:port name="EHPRMRSoap" binding="tns:EHPRMRSoap">
      <soap:address location="https://www-prod-accessadvantage.fiservapps.com/EHPRMR/WebServices/EHPRMR.asmx" />
    </wsdl:port>
    <wsdl:port name="EHPRMRSoap12" binding="tns:EHPRMRSoap12">
      <soap12:address location="https://www-prod-accessadvantage.fiservapps.com/EHPRMR/WebServices/EHPRMR.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>